//out: main.css
@import "fonts.styl"
border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments
*
    font-weight 100
    font-family 'Lato','Roboto Mono'
html, body{
    height 100%
}
body
    margin 0
    padding 0
    width 100%
    display table
    //background rgba(255,255,255,.6) url("img/background-tree.png") no-repeat fixed center
    //background rgba(255,255,255,.6) url("img/background-cloud.jpg") no-repeat fixed center
    background rgba(255,255,255,.6) url("img/cloud-rain.svg") no-repeat left
    //background-size cover
    color rgba(0,0,0,1)
    z-index 0
    position relative
a
    text-decoration none
    font-weight bold
    color rgba(66,133,244,.75)
a:hover
    color rgba(66,133,244,1)
hr
    color rgba(0,0,0,.4)
    margin .2em 35% 1em 35%
