//out: main.css
@import "fonts.styl"
border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments
*
    font-weight 100
    font-family 'Lato','Roboto Mono'
html, body{
    height 100%
}
body
    margin 0
    padding 0
    width 100%
    display table
