//main: main.styl,out: styles.css
.sidebar
    width 100%
    display table
    height 2em
    margin 0
    font-size 1.2em;
    position relative
    z-index 100
    //background-color rgba(255,255,255,.05)
    .row
        display table-row
        position relative
        height 2em
        padding .4em 2em .4em 0
        margin 0
        .logo
            display inline-block
            position absolute
            left 0
            top .4em
            line-height 2em
            width 160px
            span
                margin-left 2em
        nav
            display inline-block
            position absolute
            right 0
            top .4em
            a
                color rgba(255,255,255,.7)
                height 2em
                line-height 2em
                border-radius .32em
                display inline-block
                padding 0 1em
                margin 0 .6em
                text-align center
                font-weight 100
            a.nav-item:active,a.nav-item.active
                border solid 1px #fff
                color rgba(255,255,255,1)
            a:hover
                color rgba(255,255,255,1)
            a.nav-item:hover
                background-color rgba(255,255,255,.4)
.container
    text-align center
    display table-row
    vertical-align middle
    position relative
    z-index 100
    *
        position relative
        z-index 100
.content
    text-align center
    display table-cell
.title
    font-size 4em
.clickable
    cursor pointer
    opacity .8
.clickable:hover
    opactity 1
.overlay
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    display none
    background-color rgba(255,255,255,.72)
    z-index 1
