.sidebar {
  width: 100%;
  display: table;
  height: 2em;
  margin: 0;
  font-size: 1.2em;
  background-color: rgba(255,255,255,0.05);
}
.sidebar .row {
  display: table-row;
  position: relative;
  height: 2em;
  padding: 0.4em 2em 0.4em 0;
  margin: 0;
}
.sidebar .row .logo {
  display: inline-block;
  line-height: 2em;
  width: 160px;
}
.sidebar .row .logo span {
  margin-left: 2em;
}
.sidebar .row nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.4em;
}
.sidebar .row nav a {
  color: #fff;
  height: 2em;
  line-height: 2em;
  border-radius: 0.32em;
  display: inline-block;
  padding: 0 1em;
  margin: 0 0.6em;
  text-align: center;
  font-weight: 100;
}
.sidebar .row nav a.nav-item:active,
.sidebar .row nav a.nav-item.active {
  border: solid 1px #fff;
}
.sidebar .row nav a.nav-item:hover {
  color: rgba(18,25,43,0.8);
  background-color: rgba(255,255,255,0.8);
}
.container {
  text-align: center;
  display: table-row;
  vertical-align: middle;
}
.content {
  text-align: center;
  display: table-cell;
}
.title {
  font-size: 4em;
}
.clickable {
  cursor: pointer;
  opacity: 0.8;
}
.clickable:hover {
  opactity: 1;
}
